<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_I_L</key>
    <string>A__I__L_.glif</string>
    <key>A_I_N_L</key>
    <string>A__I__N__L_.glif</string>
    <key>A_Idieresis_X</key>
    <string>A__I_dieresis_X_.glif</string>
    <key>A_L</key>
    <string>A__L_.glif</string>
    <key>A_M</key>
    <string>A__M_.glif</string>
    <key>A_N</key>
    <string>A__N_.glif</string>
    <key>A_N_C_L</key>
    <string>A__N__C__L_.glif</string>
    <key>A_N_L</key>
    <string>A__N__L_.glif</string>
    <key>A_N_L.ss04</key>
    <string>A__N__L_.ss04.glif</string>
    <key>A_U_K</key>
    <string>A__U__K_.glif</string>
    <key>A_U_L</key>
    <string>A__U__L_.glif</string>
    <key>A_U_Z</key>
    <string>A__U__Z_.glif</string>
    <key>A_V</key>
    <string>A__V_.glif</string>
    <key>A_X</key>
    <string>A__X_.glif</string>
    <key>A_X.ss01</key>
    <string>A__X_.ss01.glif</string>
    <key>A_Z</key>
    <string>A__Z_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_A</key>
    <string>C__A_.glif</string>
    <key>C_E_K</key>
    <string>C__E__K_.glif</string>
    <key>C_E_U_L</key>
    <string>C__E__U__L_.glif</string>
    <key>C_E_U_L_S</key>
    <string>C__E__U__L__S_.glif</string>
    <key>C_E_U_L_S.ss01</key>
    <string>C__E__U__L__S_.ss01.glif</string>
    <key>C_E_U_L_S.ss02</key>
    <string>C__E__U__L__S_.ss02.glif</string>
    <key>C_O</key>
    <string>C__O_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccedilla_O_L</key>
    <string>C_cedilla_O__L_.glif</string>
    <key>Ccedilla_O_L.ss01</key>
    <string>C_cedilla_O__L_.ss01.glif</string>
    <key>Ccedilla_O_L.ss03</key>
    <string>C_cedilla_O__L_.ss03.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_E_L</key>
    <string>D__E__L_.glif</string>
    <key>D_O_L</key>
    <string>D__O__L_.glif</string>
    <key>D_U</key>
    <string>D__U_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_E</key>
    <string>E__E_.glif</string>
    <key>E_I</key>
    <string>E__I_.glif</string>
    <key>E_K</key>
    <string>E__K_.glif</string>
    <key>E_N</key>
    <string>E__N_.glif</string>
    <key>E_N_T</key>
    <string>E__N__T_.glif</string>
    <key>E_R_K</key>
    <string>E__R__K_.glif</string>
    <key>E_R_X</key>
    <string>E__R__X_.glif</string>
    <key>E_S</key>
    <string>E__S_.glif</string>
    <key>E_T</key>
    <string>E__T_.glif</string>
    <key>E_T_E</key>
    <string>E__T__E_.glif</string>
    <key>E_T_T_E</key>
    <string>E__T__T__E_.glif</string>
    <key>E_U_H</key>
    <string>E__U__H_.glif</string>
    <key>E_U_K</key>
    <string>E__U__K_.glif</string>
    <key>E_U_L</key>
    <string>E__U__L_.glif</string>
    <key>E_U_L.ss01</key>
    <string>E__U__L_.ss01.glif</string>
    <key>E_U_L_S</key>
    <string>E__U__L__S_.glif</string>
    <key>E_X</key>
    <string>E__X_.glif</string>
    <key>E_X.ss01</key>
    <string>E__X_.ss01.glif</string>
    <key>E_Z</key>
    <string>E__Z_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Eacute_E</key>
    <string>E_acute_E_.glif</string>
    <key>Eacute_E_S</key>
    <string>E_acute_E__S_.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_A_E</key>
    <string>F__A__E_.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_O_F</key>
    <string>H__O__F_.glif</string>
    <key>H_U</key>
    <string>H__U_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_E_L</key>
    <string>I__E__L_.glif</string>
    <key>I_K</key>
    <string>I__K_.glif</string>
    <key>I_L</key>
    <string>I__L_.glif</string>
    <key>I_L_X</key>
    <string>I__L__X_.glif</string>
    <key>I_N_L</key>
    <string>I__N__L_.glif</string>
    <key>I_N_X</key>
    <string>I__N__X_.glif</string>
    <key>I_O_L</key>
    <string>I__O__L_.glif</string>
    <key>I_O_L.ss01</key>
    <string>I__O__L_.ss01.glif</string>
    <key>I_O_L.ss03</key>
    <string>I__O__L_.ss03.glif</string>
    <key>I_S_T_E</key>
    <string>I__S__T__E_.glif</string>
    <key>I_X</key>
    <string>I__X_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_A</key>
    <string>L__A_.glif</string>
    <key>L_E_S</key>
    <string>L__E__S_.glif</string>
    <key>L_I_S_T_E</key>
    <string>L__I__S__T__E_.glif</string>
    <key>L_L</key>
    <string>L__L_.glif</string>
    <key>L_O</key>
    <string>L__O_.glif</string>
    <key>L_O_I</key>
    <string>L__O__I_.glif</string>
    <key>L_O_S</key>
    <string>L__O__S_.glif</string>
    <key>L_S</key>
    <string>L__S_.glif</string>
    <key>L_S.ss03</key>
    <string>L__S_.ss03.glif</string>
    <key>L_Y</key>
    <string>L__Y_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_E_N_T</key>
    <string>M__E__N__T_.glif</string>
    <key>M_O</key>
    <string>M__O_.glif</string>
    <key>M_P</key>
    <string>M__P_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_N</key>
    <string>N__N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O_C</key>
    <string>O__C_.glif</string>
    <key>O_E</key>
    <string>O__E_.glif</string>
    <key>O_I</key>
    <string>O__I_.glif</string>
    <key>O_I_L</key>
    <string>O__I__L_.glif</string>
    <key>O_Idieresis_X</key>
    <string>O__I_dieresis_X_.glif</string>
    <key>O_K</key>
    <string>O__K_.glif</string>
    <key>O_K.ss02</key>
    <string>O__K_.ss02.glif</string>
    <key>O_L</key>
    <string>O__L_.glif</string>
    <key>O_L.ss02</key>
    <string>O__L_.ss02.glif</string>
    <key>O_L.ss04</key>
    <string>O__L_.ss04.glif</string>
    <key>O_L_A</key>
    <string>O__L__A_.glif</string>
    <key>O_L_S</key>
    <string>O__L__S_.glif</string>
    <key>O_L_S.ss02</key>
    <string>O__L__S_.ss02.glif</string>
    <key>O_L_S.ss03</key>
    <string>O__L__S_.ss03.glif</string>
    <key>O_N_K</key>
    <string>O__N__K_.glif</string>
    <key>O_N_L</key>
    <string>O__N__L_.glif</string>
    <key>O_U</key>
    <string>O__U_.glif</string>
    <key>O_U_L</key>
    <string>O__U__L_.glif</string>
    <key>O_U_Z</key>
    <string>O__U__Z_.glif</string>
    <key>O_Y</key>
    <string>O__Y_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_L</key>
    <string>P__L_.glif</string>
    <key>P_L_A</key>
    <string>P__L__A_.glif</string>
    <key>P_O</key>
    <string>P__O_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q_U</key>
    <string>Q__U_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_R</key>
    <string>R__R_.glif</string>
    <key>R_R.ss02</key>
    <string>R__R_.ss02.glif</string>
    <key>R_S</key>
    <string>R__S_.glif</string>
    <key>R_X</key>
    <string>R__X_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_O</key>
    <string>S__O_.glif</string>
    <key>S_O.ss01</key>
    <string>S__O_.ss01.glif</string>
    <key>S_O.ss03</key>
    <string>S__O_.ss03.glif</string>
    <key>S_O_N</key>
    <string>S__O__N_.glif</string>
    <key>S_S</key>
    <string>S__S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_E</key>
    <string>T__E_.glif</string>
    <key>T_I_O_N</key>
    <string>T__I__O__N_.glif</string>
    <key>T_O</key>
    <string>T__O_.glif</string>
    <key>T_T</key>
    <string>T__T_.glif</string>
    <key>T_T_E</key>
    <string>T__T__E_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.ss01</key>
    <string>U_.ss01.glif</string>
    <key>U_L</key>
    <string>U__L_.glif</string>
    <key>U_L.ss01</key>
    <string>U__L_.ss01.glif</string>
    <key>U_X</key>
    <string>U__X_.glif</string>
    <key>U_X.ss02</key>
    <string>U__X_.ss02.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V_A</key>
    <string>V__A_.glif</string>
    <key>V_R</key>
    <string>V__R_.glif</string>
    <key>V_S</key>
    <string>V__S_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_S</key>
    <string>X__S_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y_N</key>
    <string>Y__N_.glif</string>
    <key>Y_O_L</key>
    <string>Y__O__L_.glif</string>
    <key>Y_O_L.ss02</key>
    <string>Y__O__L_.ss02.glif</string>
    <key>Y_O_L.ss03</key>
    <string>Y__O__L_.ss03.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
