(
.notdef,
.null,
CR,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quoteright,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
equal,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
quoteleft,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
exclamdown,
cent,
sterling,
fraction,
yen,
quotesingle,
quotedblleft,
guillemotleft,
guilsinglleft,
guilsinglright,
fi,
fl,
endash,
dagger,
daggerdbl,
periodcentered,
paragraph,
bullet,
quotesinglbase,
quotedblbase,
quotedblright,
guillemotright,
ellipsis,
questiondown,
grave,
acute,
circumflex,
tilde,
macron,
breve,
dotaccent,
dieresis,
ring,
cedilla,
hungarumlaut,
ogonek,
caron,
emdash,
AE,
Lslash,
Oslash,
OE,
ae,
dotlessi,
lslash,
oslash,
oe,
germandbls,
uni00B9,
trademark,
Eth,
onehalf,
Thorn,
onequarter,
degree,
thorn,
threequarters,
uni00B2,
registered,
minus,
eth,
multiply,
uni00B3,
copyright,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
Ccedilla,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
Iacute,
Icircumflex,
Idieresis,
Igrave,
Ntilde,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Otilde,
Scaron,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Yacute,
Ydieresis,
Zcaron,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ccedilla,
eacute,
ecircumflex,
edieresis,
egrave,
iacute,
icircumflex,
idieresis,
igrave,
ntilde,
oacute,
ocircumflex,
odieresis,
ograve,
otilde,
scaron,
uacute,
ucircumflex,
udieresis,
ugrave,
yacute,
ydieresis,
zcaron,
uni00A0,
Abreve,
Amacron,
Aogonek,
Cacute,
Ccaron,
Ccircumflex,
Cdotaccent,
Dcaron,
Dcroat,
Ebreve,
Ecaron,
Edotaccent,
Emacron,
Eng,
Eogonek,
Gbreve,
Gcircumflex,
uni0122,
Gdotaccent,
Hbar,
Hcircumflex,
Ibreve,
Idotaccent,
IJ,
Imacron,
Iogonek,
Itilde,
Jcircumflex,
uni0136,
Lacute,
Lcaron,
uni013B,
Ldot,
Nacute,
Ncaron,
uni0145,
Obreve,
Ohungarumlaut,
Omacron,
Racute,
Rcaron,
uni0156,
Sacute,
Scedilla,
Scircumflex,
uni0218,
Tbar,
Tcaron,
uni0162,
uni021A,
Ubreve,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Wacute,
Wdieresis,
Wgrave,
Wcircumflex,
Ycircumflex,
Ygrave,
Zacute,
Zdotaccent,
abreve,
amacron,
aogonek,
cacute,
ccaron,
ccircumflex,
cdotaccent,
dcaron,
dcroat,
uniF6BE,
ebreve,
ecaron,
edotaccent,
emacron,
eng,
eogonek,
gbreve,
gcircumflex,
uni0123,
gdotaccent,
hbar,
hcircumflex,
ibreve,
i.loclTRK,
ij,
imacron,
iogonek,
itilde,
jcircumflex,
uni0137,
kgreenlandic,
lacute,
lcaron,
uni013C,
ldot,
nacute,
ncaron,
uni0146,
obreve,
ohungarumlaut,
omacron,
racute,
rcaron,
uni0157,
sacute,
scedilla,
scircumflex,
uni0219,
tbar,
tcaron,
uni0163,
uni021B,
ubreve,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
wacute,
wdieresis,
wgrave,
wcircumflex,
ycircumflex,
ygrave,
zacute,
zdotaccent,
caronSlovak,
uniF6C3,
reversequoteleft,
reversequotedblleft,
uni2002,
uni2003,
uni2009,
uni200A,
uni200B,
Euro,
uni2157,
I_E,
I_e,
a_o,
c_h,
c_q,
e_a,
e_s,
e_t,
e_u,
eacute_e,
f_f_e,
f_f_e_two,
f_v,
h_o_f,
i_e,
l_e,
l_l,
m_p,
n_e,
n_n,
o_idieresis,
o_idieresis_two,
r_e,
r_i,
r_s,
s_e,
s_s,
s_t,
t_e,
u_l,
x_c,
x_c_two,
x_l,
x_s,
x_s_two,
demi_e,
demi_x,
demi_x_2,
demi_x_3,
demi_x_4,
e_s_two,
l_e_s,
l_l_e_u_x,
n_a,
n_n_e_s_two,
n_n_e_s_three,
o_t_e_two,
r_i_c,
s_tige,
e_t_t_e.001,
x_c_e.001,
x_c_e_s.001,
S_S,
notequal,
plusminus,
A_E,
A_O,
A_U_L_A,
a_e,
a_u_l_a,
C_H,
C_Q,
c_h_e,
c_h_e_s,
c_q_u,
c_q_u_e,
c_q_u_e_s,
D_E,
D_U_D_E_L_A,
d_e,
d_e_s,
d_u_d_e_l_a,
E_A,
Eacute_E,
E_S,
E_T,
E_U,
eacute_e_s,
e_t_t,
e_t_t_e,
ecircumflex_t_e,
e_u_x,
e_s_s_e,
e_s_s_e_s,
F_F_E,
F_V,
f_e,
f_f_e_s,
f_v_e,
f_v_e_s,
G_U,
g_u,
h_o_f_e,
i_e_l,
i_e_s,
i_l,
i_l_e,
L_E,
L_L,
L_U,
l_l_e,
l_l_e_s,
l_u,
l_u_i,
M_P,
N_E,
N_N,
n_e_s,
n_n_e,
n_n_e_s,
O_F,
O_T,
O_Idieresis,
o_f,
o_f_e,
o_t,
o_t_e,
o_t_e_s,
P_M,
P_E,
p_m,
p_e,
R_E,
R_I,
R_S,
r_egrave_r_e,
r_egrave_r_e_s,
r_e_s,
r_i_c_e,
r_i_c_e_s,
r_s_e,
r_s_e_s,
S_C,
S_E,
S_L,
S_T,
s_c,
s_c_e,
s_c_e_s,
s_e_s,
s_l,
s_l_l,
s_l_l_e,
s_s_e,
s_s_e_s,
s_t_e,
s_t_e_s,
T_E,
T_T,
t_e_s,
t_t,
e_u_r_i_c_e,
e_u_r_i_c_e_s,
U_E,
U_L,
u_e,
u_e_s,
u_l_l,
u_l_l_e,
u_l_l_e_s,
u_n_e,
u_n_e_s,
X_C,
X_L,
X_L_L,
X_S,
x_c_e,
x_c_e_s,
x_l_e,
x_l_e_s,
x_l_l,
x_l_l_e,
x_l_l_e_s,
x_s_e,
x_s_e_s,
x_s_s_e,
x_s_s_e_s,
EACUTE_E,
bas_l,
demi_E,
demi_T,
demi_d,
demi_s
)