{
displayStrings = (
"coucou les concerné·es 
vous êtes merveilleux·ses
i·els sont belle·aux et guerrièr·es, 
fièr·es, meilleur·es ami·es, 
poête·sses, prêt·es,
el..leux
elle..ux
ell..eux
el..leux
héro..ïne",
"la·e 
ma·on
au·à la
blanc·he
turc·ques
fécond·e
du·de la
belle·au
agité·ec
ce·tte
poéte·sses 
celle·ux 
chef·fe
vif·ve 
long·ue
ami·e
normal·e
gentil·le
ell·ui
m·père
un·e 
bon·ne 
ho·femme
héro·ïne
salop·erigolo·te
p·mère
docteur·es 
boulanger·es 
sorcier·es
créateur·ice
coiffeur·se 
tiers·ce
compris·es
fils·lles
gros·ses
tous·tes
incrit·e 
secret·e
prêt·es
vieillot·te
élu·e
mou·lle
beau·lle
doux·ce
internationaux·les
beaux·lles
amoureux·se


LA·E 
MA·ON
AU·À LA
BLANC·HE
TURC·QUES
FÉCOND·E
DU·DE LA 
BELLE·AU
AGITÉ·ES
CE·TTE 
POÉTE·SSES
CELLE·UX 
CHEF·FE
VIF·VE
LONG·UE
AMI·E
NORMAL·E
GENTIL·LE
ELL·UI 
M·PÈRE
UN·E 
BON·NE 
HO·FEMME
HÉRO·ÏNE
SALOP·E
RIGOLO·TE
P·MÈRE
DOCTEUR·ES 
CES BOULANGER·ES 
SORCIER·ES
CRÉATEUR·ICE 
COIFFEUR·SE 
TIERS·CE
COMPRIS·E
FILS·LLES
GROS·SES
TOUS·TES
INCRIT·E
SECRET·E
PRÊT·ES
VIEILLOT·TE
ÉLU·E
MOU·LLE
BEAU·LLE
DOUX·CE
NATIONAUX·LES
BEAUX·LLES
AMOUREUX·SE


"
);
}
