<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.1</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexdotbelow</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Vturned</string>
		<string>scommaaccent</string>
		<string>vturned</string>
		<string>wturned</string>
		<string>A-cy</string>
		<string>Alpha</string>
		<string>Alphatonos</string>
		<string>A_U_L_A</string>
		<string>D_U_D_E_L_A</string>
		<string>E_A</string>
		<string>N_A</string>
		<string>O_N_A</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>A_E</string>
		<string>F_F_E</string>
		<string>U_N_E</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Digamma</string>
		<string>northEastArrow</string>
		<string>H_O_F</string>
		<string>O_F</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>Alpha-latin</string>
		<string>Ereversed</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Iogonek</string>
		<string>Iota-latin</string>
		<string>Istroke</string>
		<string>M</string>
		<string>Macute</string>
		<string>Mdotaccent</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nhookleft</string>
		<string>Nmacronbelow</string>
		<string>Eng</string>
		<string>W</string>
		<string>X</string>
		<string>kturned</string>
		<string>lacute</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>lmacronbelow</string>
		<string>rlonglegturned</string>
		<string>fl</string>
		<string>Zhe-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Yeru-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Ia-cy</string>
		<string>Yusbig-cy</string>
		<string>De-cy.loclBGR</string>
		<string>El-cy.loclBGR</string>
		<string>Eta</string>
		<string>Iota</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Pi</string>
		<string>Chi</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
		<string>Pamphyliandigamma</string>
		<string>Stigma</string>
		<string>San</string>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
		<string>inputLatinLetters</string>
		<string>heavyMultiplicationX</string>
		<string>R_X</string>
		<string>S_H</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Lmacronbelow</string>
		<string>Lslash</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>softsign-cy</string>
		<string>yeru-cy</string>
		<string>hardsign-cy</string>
		<string>u1F191</string>
		<string>u1F192</string>
		<string>A_L</string>
		<string>I_L</string>
		<string>L_L</string>
		<string>S_L</string>
		<string>U_I_L</string>
		<string>U_L</string>
		<string>X_L</string>
		<string>X_L_L</string>
	</array>
	<key>public.kern1.Lcomma</key>
	<array>
		<string>Lcommaaccent</string>
		<string>ncommaaccent</string>
		<string>eng</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>A_O</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>Phook</string>
		<string>P.ss01</string>
		<string>Er-cy</string>
		<string>M_P</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
		<string>Q.ss01</string>
	</array>
	<key>public.kern1.Sacute</key>
	<array>
		<string>Sacute</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>Jacute</string>
		<string>Jcircumflex</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Thook</string>
		<string>Tmacronbelow</string>
		<string>Tretroflexhook</string>
		<string>esh</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>f_f</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Te-cy</string>
		<string>Gamma</string>
		<string>Rho</string>
		<string>Tau</string>
		<string>seven</string>
		<string>questionreversed</string>
		<string>florin</string>
		<string>paragraph</string>
		<string>section</string>
		<string>E_T</string>
		<string>O_T</string>
		<string>S_T</string>
		<string>T_T</string>
	</array>
	<key>public.kern1.Tcaron</key>
	<array>
		<string>Tcaron</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
		<string>Thorn.ss01</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>G_U</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>Y</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Geupturn-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Je-cy</string>
		<string>ge-cy.loclBGR</string>
		<string>te-cy.loclSRB</string>
		<string>Upsilon</string>
		<string>Psi</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>stigma</string>
		<string>leftCeiling</string>
		<string>heavyBallotX</string>
		<string>heavyExclamationSymbol</string>
		<string>rightBlackTriangle</string>
		<string>F_V</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Yacute</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>atilde</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tdotbelow</string>
		<string>tmacronbelow</string>
		<string>a-cy</string>
		<string>be-cy.loclSRB</string>
		<string>alphatonos</string>
		<string>d_u_d_e_l_a</string>
		<string>e_s.ss01</string>
		<string>o_n_a</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>Delta</string>
		<string>Lambda</string>
		<string>Delta.ss01</string>
		<string>backslash</string>
		<string>upWhiteArrow</string>
		<string>upBlackTriangle</string>
		<string>lowerLeftBlackTriangle</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>es-cy</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dmacronbelow</string>
		<string>dtail</string>
	</array>
	<key>public.kern1.de-cy</key>
	<array>
		<string>de-cy</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>aturned</string>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecedilla</string>
		<string>ecircumflex</string>
		<string>ecircumflexdotbelow</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>ue</string>
		<string>oe.ss01</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>a_e.ss01</string>
		<string>a_e</string>
		<string>d_e.ss01</string>
		<string>d_e.ss02</string>
		<string>e_s_s_e</string>
		<string>eacute_e.ss01</string>
		<string>f_e.ss01</string>
		<string>f_f_e.ss01</string>
		<string>i_e.ss01</string>
		<string>l_e.ss01</string>
		<string>n_e.ss01</string>
		<string>p_e</string>
		<string>s_e.ss01</string>
		<string>t_e.ss01</string>
		<string>r_x_s_e</string>
		<string>u_e.ss01</string>
		<string>u_n_e</string>
	</array>
	<key>public.kern1.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern1.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
	</array>
	<key>public.kern1.ge-cy</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>geupturn-cy</string>
	</array>
	<key>public.kern1.greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>icaron</string>
		<string>itilde</string>
		<string>lcaron</string>
		<string>f_f_i</string>
		<string>f_i</string>
		<string>fi</string>
		<string>i-cy</string>
		<string>yi-cy</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jacute</string>
		<string>jcircumflex</string>
		<string>i_j</string>
		<string>je-cy</string>
	</array>
	<key>public.kern1.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>K</string>
		<string>Kcaron</string>
		<string>Kmacronbelow</string>
		<string>A.ss01</string>
		<string>a</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflexdotbelow</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>d</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>hmacronbelow</string>
		<string>iacute</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>istroke</string>
		<string>k</string>
		<string>kcaron</string>
		<string>kmacronbelow</string>
		<string>l</string>
		<string>m</string>
		<string>macute</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nhookleft</string>
		<string>nmacronbelow</string>
		<string>ntilde</string>
		<string>yturned</string>
		<string>d.ss01</string>
		<string>m.ss01</string>
		<string>a.ss02</string>
		<string>f_f_l</string>
		<string>f_l</string>
		<string>De-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>de-cy.loclSRB</string>
		<string>Kappa</string>
		<string>KaiSymbol</string>
		<string>alpha</string>
		<string>zeta</string>
		<string>lambda</string>
		<string>sampi</string>
		<string>underscore</string>
		<string>leftFloor</string>
		<string>a_u_l_a</string>
		<string>l_l</string>
		<string>s_h</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>Dcaron</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ograve</string>
		<string>b</string>
		<string>bdotbelow</string>
		<string>ereversed</string>
		<string>eturned</string>
		<string>schwa</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexdotbelow</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>ubar</string>
		<string>a.ss01</string>
		<string>b.ss01</string>
		<string>o.ss01</string>
		<string>p.ss01</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>be-cy</string>
		<string>o-cy</string>
		<string>er-cy</string>
		<string>nje-cy</string>
		<string>ereversed-cy</string>
		<string>tshe-cy</string>
		<string>yu-cy</string>
		<string>dje-cy</string>
		<string>yat-cy</string>
		<string>softsign-cy.loclBGR</string>
		<string>hardsign-cy.loclBGR</string>
		<string>yu-cy.loclBGR</string>
		<string>delta</string>
		<string>omicron</string>
		<string>rho</string>
		<string>sigmafinal</string>
		<string>upsilon</string>
		<string>psi</string>
		<string>omega</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>koppaArchaic</string>
		<string>sho</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>one_period</string>
		<string>two_period</string>
		<string>three_period</string>
		<string>four_period</string>
		<string>five_period</string>
		<string>six_period</string>
		<string>seven_period</string>
		<string>eight_period</string>
		<string>nine_period</string>
		<string>period</string>
		<string>pertenthousand</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>Ef-cy</string>
		<string>leftverticalbarwithquill</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>braceright</string>
		<string>heavyrightpointinganglebracketornament</string>
		<string>guillemetright</string>
		<string>guilsinglright</string>
		<string>diamondBlackSuit</string>
		<string>blackRightDoubleTriangle</string>
		<string>plus</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
		<string>q.ss01</string>
	</array>
	<key>public.kern1.question</key>
	<array>
		<string>exclamationquestion</string>
		<string>doublequestion</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelowmacron</string>
		<string>rmacronbelow</string>
		<string>Heta</string>
		<string>Koppa</string>
		<string>gamma</string>
		<string>nu</string>
		<string>xi</string>
		<string>heta</string>
		<string>digamma</string>
		<string>koppa</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>sdotbelow</string>
		<string>g.ss02</string>
		<string>dze-cy</string>
		<string>e_s_s_e_s</string>
		<string>s_s</string>
		<string>x_s_s</string>
	</array>
	<key>public.kern1.s.ss01</key>
	<array>
		<string>s.ss01</string>
	</array>
	<key>public.kern1.saltillo</key>
	<array>
		<string>saltillo</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>fraction</string>
		<string>onehalf</string>
		<string>question</string>
		<string>interrobang</string>
		<string>questionexclamation</string>
		<string>slash</string>
		<string>checkmark</string>
		<string>heavyCheckMark</string>
		<string>downBlackTriangle</string>
		<string>upperLeftBlackTriangle</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>Kcommaaccent</string>
		<string>kcommaaccent</string>
		<string>t</string>
		<string>c_t</string>
		<string>Be-cy</string>
		<string>de-cy.loclBGR</string>
		<string>iota</string>
		<string>tau</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilondieresistonos</string>
		<string>questiondown</string>
		<string>careof</string>
		<string>t_t</string>
	</array>
	<key>public.kern1.thorn.ss01</key>
	<array>
		<string>thorn.ss01</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>Uacute</string>
		<string>lslash</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>sigma</string>
		<string>archaicsampi</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>ymacron</string>
		<string>ytilde</string>
	</array>
	<key>public.kern2.1</key>
	<array>
		<string>one</string>
		<string>one_period</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexdotbelow</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>Vturned</string>
		<string>scommaaccent</string>
		<string>vturned</string>
		<string>wturned</string>
		<string>A-cy</string>
		<string>De-cy.loclBGR</string>
		<string>de-cy.loclSRB</string>
		<string>Alpha</string>
		<string>Alphatonos</string>
		<string>exclamdown</string>
		<string>rightFloor</string>
		<string>heavyBallotX</string>
		<string>section</string>
		<string>A_E</string>
		<string>A_L</string>
		<string>A_O</string>
		<string>A_U_L_A</string>
	</array>
	<key>public.kern2.G</key>
	<array>
		<string>G_U</string>
	</array>
	<key>public.kern2.Gcomma</key>
	<array>
		<string>Gcommaaccent</string>
	</array>
	<key>public.kern2.Germandbls</key>
	<array>
		<string>Germandbls</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>Bdotbelow</string>
		<string>D</string>
		<string>Ddotbelow</string>
		<string>Dmacronbelow</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecedilla</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexdotbelow</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Esh</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Iogonek</string>
		<string>Iota-latin</string>
		<string>Istroke</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Lmacronbelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Macute</string>
		<string>Mdotaccent</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nhookleft</string>
		<string>Nmacronbelow</string>
		<string>Eng</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelowmacron</string>
		<string>Rmacronbelow</string>
		<string>W</string>
		<string>X</string>
		<string>B.ss01</string>
		<string>D.ss01</string>
		<string>P.ss01</string>
		<string>R.ss01</string>
		<string>b</string>
		<string>bdotbelow</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>hmacronbelow</string>
		<string>k</string>
		<string>kcaron</string>
		<string>kmacronbelow</string>
		<string>kturned</string>
		<string>l</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>lmacronbelow</string>
		<string>lzdigraph</string>
		<string>yturned</string>
		<string>b.ss01</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Geupturn-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Ha-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>Yusbig-cy</string>
		<string>El-cy.loclBGR</string>
		<string>tshe-cy</string>
		<string>dje-cy</string>
		<string>yat-cy</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Epsilon</string>
		<string>Eta</string>
		<string>Iota</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Chi</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
		<string>Heta</string>
		<string>Pamphyliandigamma</string>
		<string>Digamma</string>
		<string>KaiSymbol</string>
		<string>San</string>
		<string>lambda</string>
		<string>onehalf</string>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
		<string>heavyrightpointinganglebracketornament</string>
		<string>guillemetright</string>
		<string>guilsinglright</string>
		<string>heavyMultiplicationX</string>
		<string>D_E.ss01</string>
		<string>D_U_D_E_L_A</string>
		<string>Ecircumflex_T_E</string>
		<string>E_S_S_E</string>
		<string>E_S_S_E_S</string>
		<string>Eacute_E.ss01</string>
		<string>Eacute_E.ss02</string>
		<string>F_F_E</string>
		<string>H_O_F</string>
		<string>L_E.ss01</string>
		<string>L_L</string>
		<string>l_l</string>
		<string>l_e.ss01</string>
		<string>P_E</string>
		<string>R_X</string>
		<string>R_X_S_E</string>
		<string>X_C.ss01</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jacute</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>Eopen</string>
		<string>Ezh</string>
		<string>Ezhcaron</string>
		<string>G</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>O</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Q</string>
		<string>A.ss01</string>
		<string>O.ss01</string>
		<string>OE.ss01</string>
		<string>Ze-cy</string>
		<string>KoppaArchaic</string>
		<string>Theta.ss01</string>
		<string>one.paren</string>
		<string>two.paren</string>
		<string>three.paren</string>
		<string>four.paren</string>
		<string>five.paren</string>
		<string>six.paren</string>
		<string>seven.paren</string>
		<string>eight.paren</string>
		<string>nine.paren</string>
		<string>one_zero.paren</string>
		<string>one_one.paren</string>
		<string>one_two.paren</string>
		<string>one_three.paren</string>
		<string>one_four.paren</string>
		<string>one_five.paren</string>
		<string>one_six.paren</string>
		<string>one_seven.paren</string>
		<string>one_eight.paren</string>
		<string>one_nine.paren</string>
		<string>two_zero.paren</string>
		<string>six_period</string>
		<string>eight_period</string>
		<string>bullet</string>
		<string>blackleftbullet</string>
		<string>ampersand</string>
	</array>
	<key>public.kern2.Q</key>
	<array>
		<string>Q.ss01</string>
	</array>
	<key>public.kern2.Rtail</key>
	<array>
		<string>Rtail</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>Bhook</string>
		<string>Dhook</string>
		<string>Phook</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tmacronbelow</string>
		<string>Tretroflexhook</string>
		<string>aturned</string>
		<string>itilde</string>
		<string>Te-cy</string>
		<string>Hardsign-cy</string>
		<string>Tau</string>
		<string>seven</string>
		<string>seven_period</string>
		<string>question</string>
		<string>paragraph</string>
		<string>careof</string>
		<string>T_T</string>
		<string>T_T_E</string>
	</array>
	<key>public.kern2.Tcaron</key>
	<array>
		<string>Tcaron</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Ubar</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>U_N_E</string>
	</array>
	<key>public.kern2.U-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>Y</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Che-cy</string>
		<string>te-cy.loclSRB</string>
		<string>Upsilon</string>
		<string>Psi</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>xi</string>
		<string>rightCeiling</string>
		<string>heavyExclamationSymbol</string>
		<string>leftBlackTriangle</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Yacute</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexdotbelow</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>eturned</string>
		<string>schwa</string>
		<string>istroke</string>
		<string>rlonglegturned</string>
		<string>rturned</string>
		<string>a.ss01</string>
		<string>a.ss02</string>
		<string>Je-cy</string>
		<string>a-cy</string>
		<string>de-cy.loclBGR</string>
		<string>alpha</string>
		<string>upsilon</string>
		<string>heta</string>
		<string>questiondown</string>
		<string>northEastArrow</string>
		<string>a_e.ss01</string>
		<string>a_e</string>
		<string>a_l</string>
		<string>a_o</string>
		<string>a_u_l_a</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
		<string>optionKey</string>
		<string>downBlackTriangle</string>
		<string>upperRightBlackTriangle</string>
	</array>
	<key>public.kern2.checkmark</key>
	<array>
		<string>checkmark</string>
		<string>heavyCheckMark</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>comma</string>
		<string>semicolon</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.de-cy</key>
	<array>
		<string>de-cy</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_e.ss01</string>
		<string>f_f_e.ss01</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>public.kern2.hturned</key>
	<array>
		<string>hturned</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>idotaccent</string>
		<string>idotbelow</string>
		<string>jdotless</string>
		<string>jacute</string>
		<string>jcircumflex</string>
		<string>lcaron</string>
		<string>s</string>
		<string>i_j</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>i_e.ss01</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>je-cy</string>
		<string>florin</string>
	</array>
	<key>public.kern2.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern2.lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>Alpha-latin</string>
		<string>Bstroke</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Dtail</string>
		<string>Eth</string>
		<string>Ereversed</string>
		<string>Hcircumflex</string>
		<string>K</string>
		<string>Kcaron</string>
		<string>Kcommaaccent</string>
		<string>Kmacronbelow</string>
		<string>Lcommaaccent</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ohungarumlaut</string>
		<string>Otilde</string>
		<string>Thorn</string>
		<string>Rstroke</string>
		<string>S</string>
		<string>Scedilla</string>
		<string>Sdotbelow</string>
		<string>Upsilon-latin</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>Zmacronbelow</string>
		<string>Saltillo</string>
		<string>Thorn.ss01</string>
		<string>bidentalpercussive</string>
		<string>eth</string>
		<string>eopen</string>
		<string>eopenreversed</string>
		<string>ezh</string>
		<string>ezhcaron</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gmacron</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>ij</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>m</string>
		<string>macute</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>mhook</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nmacronbelow</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rdotbelowmacron</string>
		<string>germandbls</string>
		<string>upsilon-latin</string>
		<string>x</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>m.ss01</string>
		<string>clickalveolar</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>geupturn-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>ge-cy.loclBGR</string>
		<string>ii-cy.loclBGR</string>
		<string>iishort-cy.loclBGR</string>
		<string>el-cy.loclBGR</string>
		<string>pe-cy.loclBGR</string>
		<string>tse-cy.loclBGR</string>
		<string>sha-cy.loclBGR</string>
		<string>shcha-cy.loclBGR</string>
		<string>softsign-cy.loclBGR</string>
		<string>ge-cy.loclSRB</string>
		<string>pe-cy.loclSRB</string>
		<string>sha-cy.loclSRB</string>
		<string>kaiSymbol</string>
		<string>n_e.ss01</string>
		<string>S_H</string>
		<string>S_S</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
		<string>nine.ss01</string>
		<string>nine_period</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Schwa</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ograve</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dmacronbelow</string>
		<string>dtail</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecedilla</string>
		<string>ecircumflex</string>
		<string>ecircumflexdotbelow</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>ereversed</string>
		<string>etilde</string>
		<string>g</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexdotbelow</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>d.ss01</string>
		<string>o.ss01</string>
		<string>oe.ss01</string>
		<string>q.ss01</string>
		<string>c_t</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>e-cy</string>
		<string>omicron</string>
		<string>sigmafinal</string>
		<string>sigma</string>
		<string>omega</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>koppaArchaic</string>
		<string>stigma</string>
		<string>equaltobydefinition</string>
		<string>d_e.ss01</string>
		<string>d_e.ss02</string>
		<string>d_u_d_e_l_a</string>
		<string>e_s.ss01</string>
		<string>e_s_s_e</string>
		<string>e_s_s_e_s</string>
		<string>eacute_e.ss01</string>
		<string>g_u</string>
		<string>o_n_a</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>p.ss01</string>
		<string>er-cy</string>
		<string>mu</string>
		<string>pi</string>
		<string>digamma</string>
		<string>san</string>
		<string>p_e</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>Ef-cy</string>
		<string>E-cy</string>
		<string>Stigma</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>braceleft</string>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
		<string>diamondBlackSuit</string>
		<string>blackLeftDoubleTriangle</string>
		<string>plus</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>interrobang</string>
		<string>doublequestion</string>
		<string>questionexclamation</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>sdotbelow</string>
		<string>g.ss02</string>
		<string>dze-cy</string>
		<string>s_h</string>
		<string>s_s</string>
		<string>s_e.ss01</string>
	</array>
	<key>public.kern2.s.ss01</key>
	<array>
		<string>s.ss01</string>
		<string>De-cy</string>
	</array>
	<key>public.kern2.saltillo</key>
	<array>
		<string>saltillo</string>
	</array>
	<key>public.kern2.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>Delta</string>
		<string>Lambda</string>
		<string>Delta.ss01</string>
		<string>fraction</string>
		<string>exclam</string>
		<string>exclamationquestion</string>
		<string>slash</string>
		<string>upWhiteArrow</string>
		<string>upBlackTriangle</string>
		<string>lowerRightBlackTriangle</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Thook</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotbelow</string>
		<string>tmacronbelow</string>
		<string>Koppa</string>
		<string>koppa</string>
		<string>t_e.ss01</string>
	</array>
	<key>public.kern2.ubar</key>
	<array>
		<string>ubar</string>
	</array>
	<key>public.kern2.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>Uacute</string>
		<string>mturned</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tretroflexhook</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udotbelow</string>
		<string>ue</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>che-cy</string>
		<string>hardsign-cy.loclBGR</string>
		<string>gamma</string>
		<string>nu</string>
		<string>tau</string>
		<string>archaicsampi</string>
		<string>t_t</string>
		<string>t_e</string>
		<string>u_e.ss01</string>
		<string>u_n_e</string>
	</array>
</dict>
</plist>
