<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Agrave</string>
      <string>C_A</string>
      <string>L_A</string>
      <string>V_A</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ograve</string>
      <string>L_O_I</string>
      <string>O_I</string>
      <string>P_O</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>Idieresis</string>
      <string>N_N</string>
      <string>A_N_L</string>
      <string>A_N_L.ss04</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>L_O</string>
    </array>
    <key>public.kern1.O_Y</key>
    <array>
      <string>O_Y</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>E_T</string>
      <string>T_T</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Agrave</string>
      <string>C</string>
      <string>A_N</string>
      <string>A_V</string>
      <string>A_N_L</string>
      <string>A_E</string>
      <string>A_N_L.ss04</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Egrave</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Igrave</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>E_E</string>
      <string>E_I</string>
      <string>E_N_T</string>
      <string>E_T_E</string>
      <string>E_Z</string>
      <string>L_A</string>
      <string>L_E_S</string>
      <string>L_I_S_T_E</string>
      <string>M_E_N_T</string>
      <string>P_L</string>
      <string>P_L_A</string>
      <string>P_O</string>
      <string>R_R</string>
      <string>R_R.ss02</string>
      <string>E_S</string>
      <string>E_T</string>
      <string>E_T_T_E</string>
      <string>Eacute_E</string>
      <string>I_E_L</string>
      <string>L_L</string>
      <string>R_S</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>Ccedilla</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ograve</string>
      <string>C_A</string>
      <string>C_O</string>
      <string>O_C</string>
      <string>O_E</string>
      <string>O_I</string>
      <string>O_U</string>
      <string>Q_U</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>Idieresis</string>
      <string>N_N</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.bullet</key>
    <array>
      <string>bullet</string>
    </array>
  </dict>
</plist>
