<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3515</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.iconName</key>
    <string>SemiLight</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Agrave</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ograve</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>U.ss01</string>
      <string>A_M</string>
      <string>A_N</string>
      <string>A_U_K</string>
      <string>A_V</string>
      <string>C_A</string>
      <string>C_O</string>
      <string>D_O_L</string>
      <string>D_U</string>
      <string>E_E</string>
      <string>E_I</string>
      <string>E_N</string>
      <string>E_N_T</string>
      <string>E_T_E</string>
      <string>E_Z</string>
      <string>H_U</string>
      <string>I_S_T_E</string>
      <string>L_A</string>
      <string>L_E_S</string>
      <string>L_I_S_T_E</string>
      <string>L_O_I</string>
      <string>L_O_S</string>
      <string>L_S</string>
      <string>M_E_N_T</string>
      <string>O_C</string>
      <string>O_E</string>
      <string>O_I</string>
      <string>O_Idieresis_X</string>
      <string>O_L_A</string>
      <string>O_N_L</string>
      <string>O_U</string>
      <string>O_Y</string>
      <string>P_L</string>
      <string>P_L_A</string>
      <string>P_O</string>
      <string>Q_U</string>
      <string>R_R</string>
      <string>R_X</string>
      <string>S_O_N</string>
      <string>T_I_O_N</string>
      <string>V_A</string>
      <string>V_R</string>
      <string>V_S</string>
      <string>C_E_U_L_S.ss01</string>
      <string>E_U_L.ss01</string>
      <string>I_O_L.ss01</string>
      <string>S_O.ss01</string>
      <string>U_L.ss01</string>
      <string>O_L.ss02</string>
      <string>O_L_S.ss02</string>
      <string>R_R.ss02</string>
      <string>U_X.ss02</string>
      <string>Y_O_L.ss02</string>
      <string>I_O_L.ss03</string>
      <string>L_S.ss03</string>
      <string>O_L_S.ss03</string>
      <string>S_O.ss03</string>
      <string>Y_O_L.ss03</string>
      <string>O_L.ss04</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>.notdef</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>question</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>periodcentered.case</string>
      <string>hyphen</string>
      <string>quotesingle</string>
      <string>grave</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>E_S</string>
      <string>E_T</string>
      <string>E_T_T_E</string>
      <string>Eacute_E</string>
      <string>Eacute_E_S</string>
      <string>F_V</string>
      <string>I_E_L</string>
      <string>L_L</string>
      <string>N_N</string>
      <string>R_S</string>
      <string>S_S</string>
      <string>T_E</string>
      <string>T_T</string>
      <string>T_T_E</string>
      <string>X_S</string>
      <string>H_O_F</string>
      <string>I_L_X</string>
      <string>M_P</string>
      <string>E_U_K</string>
      <string>A_I_N_L</string>
      <string>A_I_L</string>
      <string>A_X</string>
      <string>A_N_L</string>
      <string>A_L</string>
      <string>A_U_L</string>
      <string>A_E</string>
      <string>E_K</string>
      <string>E_X</string>
      <string>E_U_L</string>
      <string>O_L</string>
      <string>O_L_S</string>
      <string>I_L</string>
      <string>I_O_L</string>
      <string>I_N_L</string>
      <string>A_X.ss01</string>
      <string>A_N_L.ss04</string>
      <string>E_X.ss01</string>
      <string>I_X</string>
      <string>A_Idieresis_X</string>
      <string>O_I_L</string>
      <string>O_K</string>
      <string>U_L</string>
      <string>U_X</string>
      <string>Y_N</string>
      <string>L_O</string>
      <string>M_O</string>
      <string>T_O</string>
      <string>S_O</string>
      <string>Ccedilla_O_L</string>
      <string>C_E_U_L_S</string>
      <string>L_Y</string>
      <string>D_E_L</string>
      <string>O_K.ss02</string>
      <string>Ccedilla_O_L.ss01</string>
      <string>Ccedilla_O_L.ss03</string>
      <string>C_E_U_L_S.ss02</string>
      <string>E_R_K</string>
      <string>O_N_K</string>
      <string>A_U_Z</string>
      <string>E_U_H</string>
      <string>O_U_Z</string>
      <string>I_N_X</string>
      <string>Y_O_L</string>
      <string>A_N_C_L</string>
      <string>E_R_X</string>
      <string>F_A_E</string>
      <string>O_U_L</string>
      <string>A_Z</string>
      <string>I_K</string>
      <string>C_E_U_L</string>
      <string>C_E_K</string>
      <string>E_U_L_S</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>A_E</key>
      <string>uFB060</string>
      <key>A_I_L</key>
      <string>uFB010</string>
      <key>A_I_N_L</key>
      <string>uFB000</string>
      <key>A_Idieresis_X</key>
      <string>uFB210</string>
      <key>A_L</key>
      <string>uFB040</string>
      <key>A_N_C_L</key>
      <string>uFB470</string>
      <key>A_N_L</key>
      <string>uFB030</string>
      <key>A_N_L.ss04</key>
      <string>uFB134</string>
      <key>A_U_L</key>
      <string>uFB050</string>
      <key>A_U_Z</key>
      <string>uFB420</string>
      <key>A_X</key>
      <string>uFB020</string>
      <key>A_X.ss01</key>
      <string>uFB121</string>
      <key>A_Z</key>
      <string>uFB4C0</string>
      <key>C_E_K</key>
      <string>uFB4F0</string>
      <key>C_E_U_L</key>
      <string>uFB4E0</string>
      <key>C_E_U_L_S</key>
      <string>uFB2C0</string>
      <key>C_E_U_L_S.ss02</key>
      <string>uFB3C2</string>
      <key>Ccedilla_O_L</key>
      <string>uFB2B0</string>
      <key>Ccedilla_O_L.ss01</key>
      <string>uFB3B1</string>
      <key>Ccedilla_O_L.ss03</key>
      <string>uFB3B3</string>
      <key>D_E_L</key>
      <string>uFB2F0</string>
      <key>E_K</key>
      <string>uFB070</string>
      <key>E_R_K</key>
      <string>uFB400</string>
      <key>E_R_X</key>
      <string>uFB480</string>
      <key>E_U_H</key>
      <string>uFB430</string>
      <key>E_U_K</key>
      <string>uniF4B0</string>
      <key>E_U_L</key>
      <string>uFB090</string>
      <key>E_U_L_S</key>
      <string>uFB600</string>
      <key>E_X</key>
      <string>uFB080</string>
      <key>E_X.ss01</key>
      <string>uFB181</string>
      <key>F_A_E</key>
      <string>uFB490</string>
      <key>I_K</key>
      <string>uFB4D0</string>
      <key>I_L</key>
      <string>uFB0D0</string>
      <key>I_N_L</key>
      <string>uFB0F0</string>
      <key>I_N_X</key>
      <string>uFB450</string>
      <key>I_O_L</key>
      <string>uFB0E0</string>
      <key>I_X</key>
      <string>uFB200</string>
      <key>L_O</key>
      <string>uFB270</string>
      <key>L_Y</key>
      <string>uFB2D0</string>
      <key>M_O</key>
      <string>uFB280</string>
      <key>O_I_L</key>
      <string>uFB220</string>
      <key>O_K</key>
      <string>uFB230</string>
      <key>O_K.ss02</key>
      <string>uFB332</string>
      <key>O_L</key>
      <string>uFB0A0</string>
      <key>O_L_S</key>
      <string>uFB0B0</string>
      <key>O_N_K</key>
      <string>uFB410</string>
      <key>O_U_L</key>
      <string>uFB4A0</string>
      <key>O_U_Z</key>
      <string>uFB440</string>
      <key>S_O</key>
      <string>uFB2A0</string>
      <key>T_O</key>
      <string>uFB290</string>
      <key>U_L</key>
      <string>uFB240</string>
      <key>U_X</key>
      <string>uFB250</string>
      <key>Y_N</key>
      <string>uFB260</string>
      <key>Y_O_L</key>
      <string>uFB460</string>
    </dict>
  </dict>
</plist>
