body{
    background-color: rgb(175, 238, 183);
}


@font-face {
    font-family: "bbbsprat";
    src: url(articles/audrey/assets/fonts/bbb-sprat-main/webfonts/BBBSprat-Regular.woff);
}


h1{
    font-family: "bbbsprat";
    font-size: 25pt;
    color: aquamarine;
}
