@font-face {
    font-family: "Chaloupée";
    src: url("../../articles/garance/assets/fonts/Chaloupee-Regular.otf"), format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Chaloupée Bold";
    src: url("../../articles/garance/assets/fonts/Chaloupee-Black.otf"), format(woff);
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: "NCS";
    src: url("../../articles/garance/assets/fonts/NotCourierSans.otf"), format(otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NCS";
    src: url("../../articles/garance/assets/fonts/NotCourierSans-Bold.otf"), format(otf);
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: "Guilt Wafer";
    src: url("../../articles/garance/assets/fonts/SansGuiltWafer.otf"), format(otf);
    font-weight: 400;
    font-style: normal;
}

@keyframes BOITES{
    from{background-color: black;}
    to{background-color: red;}
}

/*BODY*/

body {
    font-family: "NCS";
    font-style: normal;
    color: chartreuse;
    background-image:  linear-gradient( black, blue, red, rgb(255, 102, 0));
    background-attachment: fixed;
    display: grid;
    grid-template-areas: 
        "a a a"
        "h h i"
        "e e i";

}

/*  
 margin: 0px 200px 0px 200px;*/

/*TITLE*/

#title {
    grid-area: h;
    font-family: "Chaloupée";
    display: flex;
    align-items: center;
    color: rgb(0, 255, 0);
    opacity: 100%;
}

#title :hover{
    opacity: 0%;
}

body p{
    grid-area: h;
    opacity: 50%;
    width: 300px;
    align-items: center;
}




/*THEMES*/

#themes {
    grid-area: i;
    position: sticky;
    top: 0;
    outline: 6px;
    outline-style: inset;
    background-color: black;
    color: hsl(90, 100%, 50%);
    font-family: "NCS";
    height: fit-content;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#themes label:hover {
    background-color: chartreuse;
    color: black;
    font-family: "NCS";
    font-style: bold;
}

#themes legend {
    display: none;
}

#themes input[type="radio"] {
    display: none;
}

/*MAIN*/

main {
    grid-area: e;
}

main a div{
    display: grid;
    grid-template-areas: 
        "k l"
        "m l" ;
    width : 400px;
            animation-name: "BOITE";
    animation-duration: 4s;
}

main a {
    display: inline-flex ;
    outline: inset 6px chartreuse;
    margin: 2%;
    color: chartreuse;
    background-color: black;
    height: 250px;
    width: 400px;
}

main a h3{
    grid-area: k;
    font-family: "Chaloupée";
    font-size: 15pt;
    justify-self: center;
    text-align: center;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main a .footer{
    grid-area: m;
    width: 100px;
}

main a p{
    font-size: 10pt;
    margin: 6px;
}

main a img{
    display: flex;
    align-items: center;
    grid-area: l;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

/* DATES AUTEURS*/

#filtres {
    grid-area: a;
    display: grid;
    grid-template-areas: 
        "q q p";
    position: sticky;
    top: 0;
    background: linear-gradient(black, rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: contain;
}

#filtres .date{
    grid-area: q;
}

#filtres .auteurices{
    grid-area: p;
}
