@font-face {
  font-family: "tremplin";
  src: url("/articles/maxence/assets/fonts/Tremplin-Regular.otf");
}

body{
    font-family: "tremplin";    
    background-color: rgb(151, 152, 152);
}

title{

    }

