/*body{
    background-color: aquamarine;
    background-image: image-set("../../articles/natasha/assets/images/eitsr.png");
}
#title{
    text-decoration: dotted;
    color: rgb(222, 134, 35);
}

#themes{
    text-decoration: line-through;
    color: lawngreen;
    background-image: image-set("../../articles/natasha/assets/images/eitsv3b.png");
}*/
