/* FONT FACE */

@font-face {
    font-family: "Chaloupée";
    src: url("../../articles/garance/assets/fonts/Chaloupee-Regular.otf"), format(woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Chaloupée";
    src: url("../../articles/garance/assets/fonts/Chaloupee-Black.otf"), format(woff);
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: "NCS";
    src: url("../../articles/garance/assets/fonts/NotCourierSans.otf"), format(otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NCS";
    src: url("../../articles/garance/assets/fonts/NotCourierSans-Bold.otf"), format(otf);
    font-weight: 400;
    font-style: bold;
}

@font-face {
    font-family: "Guilt Wafer";
    src: url("../../articles/garance/assets/fonts/SansGuiltWafer.otf"), format(otf);
    font-weight: 400;
    font-style: normal;
}

/*BODY*/

body {
    font-family: "NCS";
    font-style: normal;
    background-image: linear-gradient(black, blue, red, rgb(255, 102, 0));
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        "a a a"
        "d e f";
    grid-gap: 20px;
    margin: 0px 200px 0px 200px;
}

/*article*/

article {
    grid-area: e;
    background-color: black;
    color: chartreuse;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    outline: 6px;
    outline-style: inset;
    height: fit-content;
    max-width: 600px;
    min-width: 600px;
    margin-top: 40px;
}

article h1 {
    font-family: "Chaloupée";
    font-size: 40pt;
    text-align: center;
    border-bottom: 6px inset chartreuse;
    padding: 1%;
}

article h2 {
    font-family: "Chaloupée";
}

article p {
    font-family: "NCS";
    margin: 3%;
    line-height: 24px;
}

article img{
    width: 500px;
}

/*a*/

a {
    color: chartreuse;
    font-family: "NCS";
    font-style: bold;
    grid-area: d;
    background-color: black;
    outline: 6px;
    outline-style: inset;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    position: sticky;
    top: 220px;
}

/*themes*/

#themes {
    grid-area: f;
    position: sticky;
    top: 220px;
    outline: 6px;
    outline-style: inset;
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(90, 100%, 50%);
    font-family: "NCS";
    height: fit-content;
    max-width: 100%;
    text-align: center;
}

#themes label:hover {
    background-color: chartreuse;
    color: black;
    font-family: "NCS";
    font-style: bold;
}

#themes legend {
    display: none;
}

#themes input[type="radio"] {
    display : none;
}

/* header*/

header .title {
    font-family: "Chaloupée";
    color: chartreuse;
    font-size: 40pt;
}

header .date{
    font-family:"NCS";
    font-style: bold;
    color: chartreuse;
    size: 20%;
}

header .tags{
    font-family:"NCS";
    font-style: normal;
    color: chartreuse;
    margin-bottom: 2%;
}

header {
    grid-area: a;
    outline: inset chartreuse 6px;
    background-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    top: 5%;
    line-height: 2%;
}

/*scroll bar*/

/* width */
body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(black, blue, red, rgb(255, 102, 0));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 143, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: chartreuse;
}


/*  image-set("../../articles/garance/assets/images/stores.png")*/