@font-face {
  font-family: "Redaction-Inclusive";
  src: url("../../articles/nicolas/assets/fonts/Redaction-Inclusive-Regular.woff") format("woff");
}


body{
 
  background-color:rgb(173, 173, 173);
  font-family: 'Redaction-Inclusive';
  text-align: left;
  image-orientation: left;

}


div {
  border: solid 2px rgb(11, 11, 11);
  height: 40px;
  width: 30%;
  box-sizing: border-box;  /* la bordure est comprise dans les 30% */
}


h1 {

  text-align: justify;
  position: relative;
  background: rgb(83, 83, 83);
  top: 30px;
  left:10%;
}
h2 {
  text-align: justify;
  position: relative;
  top: 30px;
  left:10%;

}

p {
  position: relative;
  background: rgba(141, 141, 138, 0);
   top: 30px;
  left:10%;
}

h1.has-width {
  width: auto;
}


