@font-face {
  font-family: "Compagnon";
  src: url("../../articles/nicolas/assets/fonts/Compagnon-Bold.woff");
}

body{
  background-color:rgb(255, 255, 255);
  font-family: 'Compagnon';
  text-align: left;
  image-orientation: left;

}
h1 {
  background: rgb(207, 206, 203);
}
h1.has-width {
  width: auto;
}

div {

  width: 100px;         
  height: 10px;       
  background-color: #f0f0f0; 
  border: 1px solid #000000;
  padding: 40px;        

}
