body {
  background-image: url("../../articles/romane/assets/images/fond-lace-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1{
    color :#000000;
    }

h2{
    color :#000000;
    }

p{
    color :#140404;
    font-family:'Courier New', Courier, monospace;
    display: block; 
    }

