body {
  background-image: url("../../articles/romane/assets/images/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    color :#ffffff
    }

h2{
    color :#fdfdfd
    }

p{
    color :#fffffe
    }

#filtres{
        color: #fdfdfd;
}  