body {
    color: green;
    background-image: url("C:\blog quentin\blog-2026\articles\sahar\assets\images\kavir.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}