article{
	--f: .625; /* fraction of line the hole occupies */
	--b: 1.5lh; /* at least 1lh to fit */
	--l: 2px; /* dashed line thickness */
	display: block;
	margin: 1em auto;
	border: solid 0 #0000; /* just to reserve space */
	border-width: 0 var(--b); /* only for lateral one */
	padding: 0 1ch;
	max-width: 43em;
	border-radius: 3px;
	background: 
		conic-gradient(at var(--l), #0000 75%, silver 25%) 
			0 -.125lh/ calc(100% - var(--l)) .5lh padding-box,
		linear-gradient(peachpuff 50%, whitesmoke 0) 0 0/ 1% 2lh;
	tab-size: 2;
	white-space: pre-wrap;
	mask: 
		radial-gradient(calc(.5*var(--f)*1lh) at calc(.5*var(--b)), 
				#0000 calc(100% - 1px), red) 
			0 0/ calc(100% - var(--b)) 1lh border-box
}