<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>Eth</string>
		<string>copyright</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>OE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>X</string>
		<string>uni0136</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>u</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ntilde</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>slash</string>
		<string>degree</string>
		<string>registered</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>eth</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>i</string>
		<string>l</string>
		<string>fi</string>
		<string>fl</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>dcroat</string>
		<string>ibreve</string>
		<string>i.loclTRK</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>lacute</string>
		<string>uni013C</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>oe</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>j</string>
		<string>ij</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>x</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>plus</string>
		<string>hyphen</string>
		<string>equal</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
		<string>dotlessi</string>
		<string>uniF6BE</string>
		<string>eng</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>germandbls</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>three</string>
		<string>five</string>
		<string>six</string>
		<string>eight</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>copyright</string>
		<string>Ccedilla</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>ae</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>backslash</string>
		<string>degree</string>
		<string>registered</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>oslash</string>
		<string>oe</string>
		<string>eth</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>thorn</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i.loclTRK</string>
		<string>ij</string>
		<string>uni0137</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>j</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ibreve</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>dotlessi</string>
		<string>ntilde</string>
		<string>uniF6BE</string>
		<string>eng</string>
		<string>kgreenlandic</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>plus</string>
		<string>hyphen</string>
		<string>equal</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>three</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
</dict>
</plist>
