<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>coucou les concerné·es 
vous êtes merveilleux·ses
i·els sont belle·aux et guerrièr·es, 
fièr·es, meilleur·es ami·es, 
poête·sses, prêt·es,
el..leux
elle..ux
ell..eux
el..leux
héro..ïne</string>
		<string>la·e 
ma·on
au·à la
blanc·he
turc·ques
fécond·e
du·de la
belle·au
agité·ec
ce·tte
poéte·sses 
celle·ux 
chef·fe
vif·ve 
long·ue
ami·e
normal·e
gentil·le
ell·ui
m·père
un·e 
bon·ne 
ho·femme
héro·ïne
salop·erigolo·te
p·mère
docteur·es 
boulanger·es 
sorcier·es
créateur·ice
coiffeur·se 
tiers·ce
compris·es
fils·lles
gros·ses
tous·tes
incrit·e 
secret·e
prêt·es
vieillot·te
élu·e
mou·lle
beau·lle
doux·ce
internationaux·les
beaux·lles
amoureux·se


LA·E 
MA·ON
AU·À LA
BLANC·HE
TURC·QUES
FÉCOND·E
DU·DE LA 
BELLE·AU
AGITÉ·ES
CE·TTE 
POÉTE·SSES
CELLE·UX 
CHEF·FE
VIF·VE
LONG·UE
AMI·E
NORMAL·E
GENTIL·LE
ELL·UI 
M·PÈRE
UN·E 
BON·NE 
HO·FEMME
HÉRO·ÏNE
SALOP·E
RIGOLO·TE
P·MÈRE
DOCTEUR·ES 
CES BOULANGER·ES 
SORCIER·ES
CRÉATEUR·ICE 
COIFFEUR·SE 
TIERS·CE
COMPRIS·E
FILS·LLES
GROS·SES
TOUS·TES
INCRIT·E
SECRET·E
PRÊT·ES
VIEILLOT·TE
ÉLU·E
MOU·LLE
BEAU·LLE
DOUX·CE
NATIONAUX·LES
BEAUX·LLES
AMOUREUX·SE


</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>m01</key>
			<dict/>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>m01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quoteright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>equal</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>quoteleft</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>fraction</string>
		<string>yen</string>
		<string>section</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fi</string>
		<string>fl</string>
		<string>endash</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>periodcentered</string>
		<string>paragraph</string>
		<string>bullet</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblright</string>
		<string>guillemotright</string>
		<string>ellipsis</string>
		<string>questiondown</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>macron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>dieresis</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>hungarumlaut</string>
		<string>ogonek</string>
		<string>caron</string>
		<string>emdash</string>
		<string>AE</string>
		<string>Lslash</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>ae</string>
		<string>dotlessi</string>
		<string>lslash</string>
		<string>oslash</string>
		<string>oe</string>
		<string>germandbls</string>
		<string>uni00B9</string>
		<string>trademark</string>
		<string>Eth</string>
		<string>onehalf</string>
		<string>Thorn</string>
		<string>onequarter</string>
		<string>degree</string>
		<string>thorn</string>
		<string>threequarters</string>
		<string>uni00B2</string>
		<string>registered</string>
		<string>minus</string>
		<string>eth</string>
		<string>multiply</string>
		<string>uni00B3</string>
		<string>copyright</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Ccedilla</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Scaron</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>scaron</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zcaron</string>
		<string>uni00A0</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uniF6BE</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>ibreve</string>
		<string>i.loclTRK</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>caronSlovak</string>
		<string>uniF6C3</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
		<string>uni2002</string>
		<string>uni2003</string>
		<string>uni2009</string>
		<string>uni200A</string>
		<string>uni200B</string>
		<string>Euro</string>
		<string>uni2157</string>
		<string>I_E</string>
		<string>I_e</string>
		<string>a_o</string>
		<string>c_h</string>
		<string>c_q</string>
		<string>e_a</string>
		<string>e_s</string>
		<string>e_t</string>
		<string>e_u</string>
		<string>eacute_e</string>
		<string>f_f_e</string>
		<string>f_f_e_two</string>
		<string>f_v</string>
		<string>h_o_f</string>
		<string>i_e</string>
		<string>i_egrave_r_e</string>
		<string>l_e</string>
		<string>l_l</string>
		<string>m_p</string>
		<string>n_e</string>
		<string>n_n</string>
		<string>o_idieresis</string>
		<string>o_idieresis_two</string>
		<string>r_e</string>
		<string>r_i</string>
		<string>r_s</string>
		<string>s_e</string>
		<string>s_s</string>
		<string>s_t</string>
		<string>t_e</string>
		<string>u_l</string>
		<string>x_c</string>
		<string>x_c_two</string>
		<string>x_l</string>
		<string>x_s</string>
		<string>x_s_two</string>
		<string>demi_e</string>
		<string>demi_x</string>
		<string>demi_x_2</string>
		<string>demi_x_3</string>
		<string>demi_x_4</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quoteright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>equal</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>quoteleft</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>fraction</string>
		<string>yen</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fi</string>
		<string>fl</string>
		<string>endash</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>periodcentered</string>
		<string>paragraph</string>
		<string>bullet</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblright</string>
		<string>guillemotright</string>
		<string>ellipsis</string>
		<string>questiondown</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>macron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>dieresis</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>hungarumlaut</string>
		<string>ogonek</string>
		<string>caron</string>
		<string>emdash</string>
		<string>AE</string>
		<string>Lslash</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>ae</string>
		<string>dotlessi</string>
		<string>lslash</string>
		<string>oslash</string>
		<string>oe</string>
		<string>germandbls</string>
		<string>uni00B9</string>
		<string>trademark</string>
		<string>Eth</string>
		<string>onehalf</string>
		<string>Thorn</string>
		<string>onequarter</string>
		<string>degree</string>
		<string>thorn</string>
		<string>threequarters</string>
		<string>uni00B2</string>
		<string>registered</string>
		<string>minus</string>
		<string>eth</string>
		<string>multiply</string>
		<string>uni00B3</string>
		<string>copyright</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Ccedilla</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Scaron</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Zcaron</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ccedilla</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>scaron</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zcaron</string>
		<string>uni00A0</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Wcircumflex</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uniF6BE</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>ibreve</string>
		<string>i.loclTRK</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>caronSlovak</string>
		<string>uniF6C3</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
		<string>uni2002</string>
		<string>uni2003</string>
		<string>uni2009</string>
		<string>uni200A</string>
		<string>uni200B</string>
		<string>Euro</string>
		<string>uni2157</string>
		<string>I_E</string>
		<string>I_e</string>
		<string>a_o</string>
		<string>c_h</string>
		<string>c_q</string>
		<string>e_a</string>
		<string>e_s</string>
		<string>e_t</string>
		<string>e_u</string>
		<string>eacute_e</string>
		<string>f_f_e</string>
		<string>f_f_e_two</string>
		<string>f_v</string>
		<string>h_o_f</string>
		<string>i_e</string>
		<string>l_e</string>
		<string>l_l</string>
		<string>m_p</string>
		<string>n_e</string>
		<string>n_n</string>
		<string>o_idieresis</string>
		<string>o_idieresis_two</string>
		<string>r_e</string>
		<string>r_i</string>
		<string>r_s</string>
		<string>s_e</string>
		<string>s_s</string>
		<string>s_t</string>
		<string>t_e</string>
		<string>u_l</string>
		<string>x_c</string>
		<string>x_c_two</string>
		<string>x_l</string>
		<string>x_s</string>
		<string>x_s_two</string>
		<string>demi_e</string>
		<string>demi_x</string>
		<string>demi_x_2</string>
		<string>demi_x_3</string>
		<string>demi_x_4</string>
		<string>e_s_two</string>
		<string>l_e_s</string>
		<string>l_l_e_u_x</string>
		<string>n_a</string>
		<string>n_n_e_s_two</string>
		<string>n_n_e_s_three</string>
		<string>o_t_e_two</string>
		<string>r_i_c</string>
		<string>s_tige</string>
		<string>e_t_t_e.001</string>
		<string>x_c_e.001</string>
		<string>x_c_e_s.001</string>
		<string>S_S</string>
		<string>notequal</string>
		<string>plusminus</string>
		<string>A_E</string>
		<string>A_O</string>
		<string>A_U_L_A</string>
		<string>a_e</string>
		<string>a_u_l_a</string>
		<string>C_H</string>
		<string>C_Q</string>
		<string>c_h_e</string>
		<string>c_h_e_s</string>
		<string>c_q_u</string>
		<string>c_q_u_e</string>
		<string>c_q_u_e_s</string>
		<string>D_E</string>
		<string>D_U_D_E_L_A</string>
		<string>d_e</string>
		<string>d_e_s</string>
		<string>d_u_d_e_l_a</string>
		<string>E_A</string>
		<string>Eacute_E</string>
		<string>E_S</string>
		<string>E_T</string>
		<string>E_U</string>
		<string>eacute_e_s</string>
		<string>e_t_t</string>
		<string>e_t_t_e</string>
		<string>ecircumflex_t_e</string>
		<string>e_u_x</string>
		<string>e_s_s_e</string>
		<string>e_s_s_e_s</string>
		<string>F_F_E</string>
		<string>F_V</string>
		<string>f_e</string>
		<string>f_f_e_s</string>
		<string>f_v_e</string>
		<string>f_v_e_s</string>
		<string>G_U</string>
		<string>g_u</string>
		<string>h_o_f_e</string>
		<string>i_e_l</string>
		<string>i_e_s</string>
		<string>i_l</string>
		<string>i_l_e</string>
		<string>L_E</string>
		<string>L_L</string>
		<string>L_U</string>
		<string>l_l_e</string>
		<string>l_l_e_s</string>
		<string>l_u</string>
		<string>l_u_i</string>
		<string>M_P</string>
		<string>N_E</string>
		<string>N_N</string>
		<string>n_e_s</string>
		<string>n_n_e</string>
		<string>n_n_e_s</string>
		<string>O_F</string>
		<string>O_T</string>
		<string>O_Idieresis</string>
		<string>o_f</string>
		<string>o_f_e</string>
		<string>o_t</string>
		<string>o_t_e</string>
		<string>o_t_e_s</string>
		<string>P_M</string>
		<string>P_E</string>
		<string>p_m</string>
		<string>p_e</string>
		<string>R_E</string>
		<string>R_I</string>
		<string>R_S</string>
		<string>r_egrave_r_e</string>
		<string>r_egrave_r_e_s</string>
		<string>r_e_s</string>
		<string>r_i_c_e</string>
		<string>r_i_c_e_s</string>
		<string>r_s_e</string>
		<string>r_s_e_s</string>
		<string>S_C</string>
		<string>S_E</string>
		<string>S_L</string>
		<string>S_T</string>
		<string>s_c</string>
		<string>s_c_e</string>
		<string>s_c_e_s</string>
		<string>s_e_s</string>
		<string>s_l</string>
		<string>s_l_l</string>
		<string>s_l_l_e</string>
		<string>s_s_e</string>
		<string>s_s_e_s</string>
		<string>s_t_e</string>
		<string>s_t_e_s</string>
		<string>T_E</string>
		<string>T_T</string>
		<string>t_e_s</string>
		<string>t_t</string>
		<string>e_u_r_i_c_e</string>
		<string>e_u_r_i_c_e_s</string>
		<string>U_E</string>
		<string>U_L</string>
		<string>u_e</string>
		<string>u_e_s</string>
		<string>u_l_l</string>
		<string>u_l_l_e</string>
		<string>u_l_l_e_s</string>
		<string>u_n_e</string>
		<string>u_n_e_s</string>
		<string>X_C</string>
		<string>X_L</string>
		<string>X_L_L</string>
		<string>X_S</string>
		<string>x_c_e</string>
		<string>x_c_e_s</string>
		<string>x_l_e</string>
		<string>x_l_e_s</string>
		<string>x_l_l</string>
		<string>x_l_l_e</string>
		<string>x_l_l_e_s</string>
		<string>x_s_e</string>
		<string>x_s_e_s</string>
		<string>x_s_s_e</string>
		<string>x_s_s_e_s</string>
		<string>EACUTE_E</string>
		<string>bas_l</string>
		<string>demi_E</string>
		<string>demi_T</string>
		<string>demi_d</string>
		<string>demi_s</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>A_E</key>
		<string>uF1010</string>
		<key>A_O</key>
		<string>uF1030</string>
		<key>A_U_L_A</key>
		<string>uF1050</string>
		<key>C_H</key>
		<string>uF1410</string>
		<key>C_Q</key>
		<string>uF1440</string>
		<key>D_E</key>
		<string>uF1610</string>
		<key>D_U_D_E_L_A</key>
		<string>uF1630</string>
		<key>E_A</key>
		<string>uF1810</string>
		<key>E_S</key>
		<string>uF1850</string>
		<key>E_T</key>
		<string>uF1860</string>
		<key>E_U</key>
		<string>uF18A0</string>
		<key>Eacute_E</key>
		<string>uF1820</string>
		<key>F_F_E</key>
		<string>uF2030</string>
		<key>F_V</key>
		<string>uF2050</string>
		<key>G_U</key>
		<string>uF2210</string>
		<key>I_E</key>
		<string>uF2610</string>
		<key>L_E</key>
		<string>uF3210</string>
		<key>L_L</key>
		<string>uF3220</string>
		<key>L_U</key>
		<string>uF3250</string>
		<key>M_P</key>
		<string>uF3410</string>
		<key>N_E</key>
		<string>uF3620</string>
		<key>N_N</key>
		<string>uF3640</string>
		<key>O_F</key>
		<string>uF3810</string>
		<key>O_Idieresis</key>
		<string>uF3870</string>
		<key>O_T</key>
		<string>uF3840</string>
		<key>P_E</key>
		<string>uF4020</string>
		<key>P_M</key>
		<string>uF4010</string>
		<key>R_E</key>
		<string>uF4410</string>
		<key>R_I</key>
		<string>uF4470</string>
		<key>R_S</key>
		<string>uF44C0</string>
		<key>S_C</key>
		<string>uF4610</string>
		<key>S_E</key>
		<string>uF4640</string>
		<key>S_L</key>
		<string>uF4660</string>
		<key>S_T</key>
		<string>uF46C0</string>
		<key>T_E</key>
		<string>uF4810</string>
		<key>T_T</key>
		<string>uF4870</string>
		<key>U_E</key>
		<string>uF5010</string>
		<key>U_L</key>
		<string>uF5050</string>
		<key>X_C</key>
		<string>uF5610</string>
		<key>X_L</key>
		<string>uF5640</string>
		<key>X_L_L</key>
		<string>uF5670</string>
		<key>X_S</key>
		<string>uF56A0</string>
		<key>a_e</key>
		<string>uF1110</string>
		<key>a_o</key>
		<string>uF1130</string>
		<key>a_u_l_a</key>
		<string>uF1150</string>
		<key>c_h</key>
		<string>uF1510</string>
		<key>c_h_e</key>
		<string>uF1520</string>
		<key>c_h_e_s</key>
		<string>uF1530</string>
		<key>c_q</key>
		<string>uF1540</string>
		<key>c_q_u</key>
		<string>uF1550</string>
		<key>c_q_u_e</key>
		<string>uF1560</string>
		<key>c_q_u_e_s</key>
		<string>uF1570</string>
		<key>d_e</key>
		<string>uF1710</string>
		<key>d_e_s</key>
		<string>uF1720</string>
		<key>d_u_d_e_l_a</key>
		<string>uF1730</string>
		<key>e_a</key>
		<string>uF1910</string>
		<key>e_s</key>
		<string>uF1950</string>
		<key>e_s_s_e</key>
		<string>uF19C0</string>
		<key>e_s_s_e_s</key>
		<string>uF19D0</string>
		<key>e_t</key>
		<string>uF1960</string>
		<key>e_t_t</key>
		<string>uF1970</string>
		<key>e_t_t_e</key>
		<string>uF1980</string>
		<key>e_u</key>
		<string>uF19A0</string>
		<key>e_u_r_i_c_e</key>
		<string>uF4B10</string>
		<key>e_u_r_i_c_e_s</key>
		<string>uF4B20</string>
		<key>e_u_x</key>
		<string>uF19B0</string>
		<key>eacute_e</key>
		<string>uF1920</string>
		<key>eacute_e_s</key>
		<string>uF1930</string>
		<key>ecircumflex_t_e</key>
		<string>uF1990</string>
		<key>f_e</key>
		<string>uF2110</string>
		<key>f_f_e</key>
		<string>uF2130</string>
		<key>f_f_e_s</key>
		<string>uF2140</string>
		<key>f_v</key>
		<string>uF2150</string>
		<key>f_v_e</key>
		<string>uF2160</string>
		<key>f_v_e_s</key>
		<string>uF2170</string>
		<key>g_u</key>
		<string>uF2310</string>
		<key>h_o_f</key>
		<string>uF2510</string>
		<key>h_o_f_e</key>
		<string>uF2520</string>
		<key>i_e</key>
		<string>uF2710</string>
		<key>i_e_l</key>
		<string>uF2720</string>
		<key>i_e_s</key>
		<string>uF2730</string>
		<key>i_l</key>
		<string>uF2740</string>
		<key>i_l_e</key>
		<string>uF2750</string>
		<key>l_e</key>
		<string>uF3310</string>
		<key>l_l</key>
		<string>uF3320</string>
		<key>l_l_e</key>
		<string>uF3330</string>
		<key>l_l_e_s</key>
		<string>uF3340</string>
		<key>l_u</key>
		<string>uF3350</string>
		<key>l_u_i</key>
		<string>uF3360</string>
		<key>m_p</key>
		<string>uF3510</string>
		<key>n_e</key>
		<string>uF3720</string>
		<key>n_e_s</key>
		<string>uF3730</string>
		<key>n_n</key>
		<string>uF3740</string>
		<key>n_n_e</key>
		<string>uF3750</string>
		<key>n_n_e_s</key>
		<string>uF3760</string>
		<key>o_f</key>
		<string>uF3910</string>
		<key>o_f_e</key>
		<string>uF3920</string>
		<key>o_idieresis</key>
		<string>uF3970</string>
		<key>o_t</key>
		<string>uF3940</string>
		<key>o_t_e</key>
		<string>uF3950</string>
		<key>o_t_e_s</key>
		<string>uF3960</string>
		<key>p_e</key>
		<string>uF4120</string>
		<key>p_m</key>
		<string>uF4110</string>
		<key>r_e</key>
		<string>uF4510</string>
		<key>r_e_s</key>
		<string>uF4560</string>
		<key>r_egrave_r_e</key>
		<string>uF4540</string>
		<key>r_egrave_r_e_s</key>
		<string>uF4550</string>
		<key>r_i</key>
		<string>uF4570</string>
		<key>r_i_c_e</key>
		<string>uF4590</string>
		<key>r_i_c_e_s</key>
		<string>uF45A0</string>
		<key>r_s</key>
		<string>uF45C0</string>
		<key>r_s_e</key>
		<string>uF45D0</string>
		<key>r_s_e_s</key>
		<string>uF45E0</string>
		<key>s_c</key>
		<string>uF4710</string>
		<key>s_c_e</key>
		<string>uF4720</string>
		<key>s_c_e_s</key>
		<string>uF4730</string>
		<key>s_e</key>
		<string>uF4740</string>
		<key>s_e_s</key>
		<string>uF4750</string>
		<key>s_l</key>
		<string>uF4760</string>
		<key>s_l_l</key>
		<string>uF4770</string>
		<key>s_l_l_e</key>
		<string>uF4780</string>
		<key>s_s</key>
		<string>uF4790</string>
		<key>s_s_e</key>
		<string>uF47A0</string>
		<key>s_s_e_s</key>
		<string>uF47B0</string>
		<key>s_t</key>
		<string>uF47C0</string>
		<key>s_t_e</key>
		<string>uF47D0</string>
		<key>s_t_e_s</key>
		<string>uF47E0</string>
		<key>t_e</key>
		<string>uF4910</string>
		<key>t_e_s</key>
		<string>uF4930</string>
		<key>t_t</key>
		<string>uF4970</string>
		<key>u_e</key>
		<string>uF5110</string>
		<key>u_e_s</key>
		<string>uF5120</string>
		<key>u_l</key>
		<string>uF5150</string>
		<key>u_l_l</key>
		<string>uF5160</string>
		<key>u_l_l_e</key>
		<string>uF5170</string>
		<key>u_l_l_e_s</key>
		<string>uF5180</string>
		<key>u_n_e</key>
		<string>uF5190</string>
		<key>u_n_e_s</key>
		<string>uF51A0</string>
		<key>x_c</key>
		<string>uF5710</string>
		<key>x_c_e</key>
		<string>uF5720</string>
		<key>x_c_e_s</key>
		<string>uF5730</string>
		<key>x_l</key>
		<string>uF5740</string>
		<key>x_l_e</key>
		<string>uF5750</string>
		<key>x_l_e_s</key>
		<string>uF5760</string>
		<key>x_l_l</key>
		<string>uF5770</string>
		<key>x_l_l_e</key>
		<string>uF5780</string>
		<key>x_l_l_e_s</key>
		<string>uF5790</string>
		<key>x_s</key>
		<string>uF57A0</string>
		<key>x_s_e</key>
		<string>uF57B0</string>
		<key>x_s_e_s</key>
		<string>uF57C0</string>
		<key>x_s_s_e</key>
		<string>uF57E0</string>
		<key>x_s_s_e_s</key>
		<string>uF57F0</string>
	</dict>
</dict>
</plist>
